html{
    background-color: rgb(32,33,36);
}

body {
    font: 12px Helvetica;
}

#title_div {
    min-width: 999;
    min-height: 90;
}

.title {
    fill: rgb(211,211,211);
    font-size: 80px;
    padding: 10px;
    margin: 0;
}

.subtitle {
    fill: rgb(211,211,211);
    font-size:35px;
    padding: 10px;
}

#line_chart_div{
    background-color: rgb(32,33,36);
    width: 900px;
}

#bar_chart {
    background-color: rgb(32,33,36);
    width: 900px;
}

#map{
    width: 960px;
    height: 960px;
    border-radius: 3px;
    border: 2px solid rgb(211,211,211);
}

.axis line {
    fill: none;
    stroke: rgb(211,211,211);
    shape-rendering: crispEdges;
}

.axis text{
    fill:rgb(211,211,211);
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.lc_legend_tx {
    fill:rgb(211,211,211);
}

.bar_val {
    fill:rgb(211,211,211);
}